
            <header>
                <nav>
                    
                    <div class="menu">
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/turnos">Turnos</a></li>
                            <li><a href="/sectorGastronomico">Sector Gastronomico</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="/productCart">Carrito</a></li>
                            <li><a href="/detalleDelProducto">Detalle</a></li>
                            <li class="productosMobile"><a href="">Productos</a></li>
                            <li class="login"><a href="/users/login">Iniciar Sesion</a></li>
                        </ul>
                    </div>
                </nav>
    
                <div class="logoMenu">
                    <i class="fas fa-bars"></i>
                </div>
    
         </header>
    
         <!--HEADER CARRITO
        <header>
            <div class="encabezado">
            <p class="encabezado1"><i class="fas fa-align-justify"></i></p>
            <p class="encabezado2">RED</p> 
            <p class="encabezado3"><i class="fas fa-cart-plus"></i></p>
            </div>
        </header>-->
    