<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Red</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="stylesheet" href="css/detalleDelProducto.css">
    </head>
    <body>
        <header>
            <div class="iconos-titulo-header">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="carrito">
                    <i class="fas fa-shopping-basket"></i>
                </div>
            </div>
        </header>
        <main>
        <div class="logo-gif"><img src="images/RED.gif" width="200" alt="logo"></div>
        <div class="descripcion-total">
            <h4>Raqueta De Pádel Wilson Blade Team</h4>
            <div class="raqueta-grande">
                <img src="images/wilson-paleta-de-frente.png" width="300" alt="Paleta de frente">
            </div>
            <div class="raquetas-pequeñas">
                <div class="raqueta-pequeña-de-frente">
                    <img src="images/wilson-paleta-de-frente.png" width="80" alt="Paleta de frente">
                </div>
                <div class="raqueta-pequeña-de-abajo">
                    <img src="images/paleta-wilson-de-abajo.png"width="80" alt="paleta de abajo">
                </div>
                <div class="raqueta-pequeña-de-costado">
                    <img src="images/wilson-paleta-costado.png"width="80" alt="paleta de costado">
                </div>
            </div>
            <h5>$5.000</h5>
            <div class="boton">
                <button type="submit">¡Agregar al carrito!</button>
            </div>
            <div class="linea"></div>
            <div class="whatsapp">
                <i class="fab fa-whatsapp"></i>
            </div>
            <h6>DESCRIPCIÓN:</h6>
                <div class="cuadro-descripcion">
                    <p>Esta raqueta Wilson Blade Team, con diseño verde y negro, esta hecha de fibras de vidrio para mayor confort y potencia. Las tecnologías presentes, como Sharp Hole, te permitirán tener más potencia. Mientras que la espuma soft te dará mayor confort y potencia.</p>
                </div>
            <h6>TESTIMONIOS:</h6>
            <div class="cuadro-testimonio">
                <p><b>Usuario123</b></p>
                <div class="estrellas">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <p> Excelente muy buena raqueta y recomendable, en el fondo se maneja muy bien y en la red por su peso es muy facil hacer los golpes.</p>
            </div>
        </div>
        </main>
        <!--COMIENZO DEL FOOTER-->
        <%- include("partials/footer") %>
        <!--FIN DEL FOOTER-->
    </body>
</html>