<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>RED</title>
    <meta http-equiv="X - UA - Compatible" contect="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <!--
    <nav class="nav">

        <div class="nav-container">

            <h1 class="nav-logo">RED</h1>

            <label for="menu" class="nav-label"></label>
               <img src="assets/menu.svg" class="nav-img">
            
            </label>
            <input type="checkbox" id="menu" class="nav-input">

            <div class="nav-menu">
                <a href="#" class="nav-item">Inicio</a>
                <a href="#" class="nav-item">Turnos</a>
                <a href="#" class="nav-item">Sector Gastronomico</a>
                <a href="#" class="nav-item">Contacto</a>
                <a href="#" class="nav-item">Nosotros</a>
 
 
 
 
            </div>

        </div>

    
    </nav>

-->




        <header>
            <nav>
                
                <div class="menu">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Turnos</a></li>
                        <li><a href="#">Sector Gastronomico</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="/productCart">Carrito</a></li>
                        <li><a href="/detalleDelProducto">Detalle</a></li>
                        <li class="productosMobile"><a href="">Productos</a></li>
                        <li class="login"><a href="/login">Iniciar Sesion</a></li>
                    </ul>
                </div>
            </nav>

            <div class="logoMenu">
                <i class="fas fa-bars"></i>
            </div>

     </header>



            <main>

                <div class="conteinerCards">
                    
                    <section>
                        <article>
                            <h1 class="tituloCards">¡Alquila tu cancha en 3 pasos!</h1>
                            <div class="card">
                                <img src="images/buscando.gif">
                                <h3>BUSCA</h3>
                                <p>¡No te compliques mas! Conoce la dispoinibilidad de nuestras canchas haciendo <a
                                    href="#">click aqui</a></p>
                            </div>
                        </article>

                        <article>
                            <div class="card">
                                <img src="images/reserva.gif">
                                <h3>RESERVA</h3>
                                <p>¿Ya sabes a que hora vas a jugar? ¡Hace click aqui y hazte miembro llenando el<a
                                        href="#"> formulario.</a></p>
                            </div>
                        </article>

                        <article>
                            <div class="card">
                                <img src="images/jugar.gif">
                                <h3>JUGA</h3>
                                <p>¿Ya seguiste todos los pasos? Todo listo para jugar ¡Te esperamos!</p>
                            </div>
                        </article>
                    </section>
                </div>

              


                    <div class="productos">
                        <h2 class="tituloProducto">Productos</h2>
                        <ul>
                            <li><a href="#" class="textProduct">Indumentaria<i class="fas fa-chevron-right"></i></a>
                            </li>
                            <li><a href="#" class="textProduct">Paletas<i class="fas fa-chevron-right"></i></a></li>
                            <li><a href="#" class="textProduct">Pelotas<i class="fas fa-chevron-right"></i></a></li>
                            <li><a href="#" class="textProduct">Ofertas<i class="fas fa-chevron-right"></i></a></li>
                            <li><a href="#" class="textProduct">Otros<i class="fas fa-chevron-right"></i></a></a></li>
                        </ul>
                    </div>
           
              

                

                    <div class="ubicacion">
                        <h2 class="tituloUbi">¿Donde estamos?</h2>
                        <img src="images/qr_img.png" class="fotoUbi" width="220">
                    </div>
                    

            </main>

            <footer>
               <section class ="footer">
                <div class="social">
                   <a href="#"><i class="fab fa-twitter"></i></a>
                   <a href="#"><i class="fab fa-instagram"></i></a>
                   <a href="#"><i class="fab fa-facebook"></i></a>
               </div>

               <ul class="list">
                   <li>
                    <a href="/home">Home</a>
                   </li>
                   <li>
                       <a href="#">Servicios</a>
                   </li>
                   <li>
                       <a href="#">Acerca de</a>
                   </li>
                   <li>
                       <a href="#">Terminos y servicios</a>
                   </li>
               </ul>
               <p class="copy">
                   RED - PADEL CLUB @ 2021
               </p>

               </section>
              </footer>
          

</body>

</html>