<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Red</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <!--INICIO DEL HEADER-->
        <%- include("partials/header") %>
        <!--FIN DEL HEADER-->
        <main>
            <div class="contenedor-red"><img src="images/RED.gif" width="200"></div>
            <form class="form" action="/login" method="POST">
                <input type="email" name="email" placeholder="Correo electónico">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger"> 
                        <% errors.password.msg %>
                    </div>
                 <% } %>   
                <br>
                <input type="password" name="contraseña" placeholder="Contraseña">
                <br>
                <button type="submit">Login</button>
            </form>
            <a class="olvidaste" href="#">¿Olvidaste tu contraseña?</a><br>
            <a>¿No tenés cuenta?</a><b><a href="/register">Registrate</a></b>
        </main>
        <!--COMIENZO DEL FOOTER-->
        <%- include("partials/footer") %>
        <!--FIN DEL FOOTER-->
    </body>
</html>