<!DOCTYPE html>
    <html>
        <head>
                <meta charset="UTF-8">
                <meta http-equiv="X - UA - Compatible" contect="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="css/users/register.css">
                <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
                <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
                rel="stylesheet" />
                <link rel="stylesheet" href="/css/indumentaria.css">
                <title>Ofertas!!!</title>
        </head>
<header>
  
            <!--INICIO DLE HEADER-->
            <%- include("partials/header") %>
            <!--FIN DEL HEADER-->
</header>
        <body>
            <div class="banner_img">
                <img src="images/oferta.gif" alt="imagenPaddle">
            </div>
            <main>
                <h1 class="tamaño">OFERTAS EN INDUMENTARIA HOMBRE!!!</h1>
                <p class="a">encontra las mejores ofertas desde un 5% hasta un 15% OFF!!</p>
                
                <section>
                        
                        <div class="productos">
                                <article class="caja-articulo">
                                    <img src="/images/products/remera.jpg">
                                        <div class="contenedor-articulo">
                                                 <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                <p class="precio">$6.770</p>
                                                <p class="descuento">5% OFF</p>
                                                <p class="marca">Remera "R" Paddle Green and Black</p>
                                </article>
                                <article class="caja-articulo">
                                    <img src="/images/products/remeradepaddle.jpg">
                                        <div class="contenedor-articulo">
                                                 <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                <p class="precio">$5.800</p>
                                                <p class="descuento">10% OFF</p>
                                                <p class="marca">Remera "R" Paddle White and Black</p>
                                </article>
                                <article class="caja-articulo">
                                    <img src="/images/products/remeradePaddle3.jpg">
                                        <div class="contenedor-articulo">
                                                 <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                <p class="precio">$7.200</p>
                                                <p class="descuento">15% OFF</p>
                                                <p class="marca">Remera Babolar Paddle Orange and Blue</p>

                                            </article>
                               
                                </article>
                </section>
                
                <section>
                    <div class="productos">
                            <article class="caja-articulo2">
                                <img src="/images/products/NI_DA1099-010-2.jpg">
                                    <div class="contenedor-articulo2">
                                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                            <p class="precio">$7.840</p>
                                            <p class="descuento">8% OFF</p>
                                            <p class="marca">Short Deportivo Nike Black and White</p>
                            </article>
                            <article class="caja-articulo2">
                                <img src="/images/products/short.jpg">
                                    <div class="contenedor-articulo2">
                                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                            <p class="precio">$9.230</p>
                                            <p class="descuento">7% OFF</p>
                                            <p class="marca">Short Deportivo Nike Light Blue</p>
                            </article>
                            <article class="caja-articulo2">
                                <img src="/images/products/short3.jpg">
                                    <div class="contenedor-articulo2">
                                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                            <p class="precio">$7.350</p>
                                            <p class="descuento">$5% OFF</p>
                                            <p class="marca">Short Deportivo Nike Unisex Black and White</p>
                            </article>
                            
                            </article>
                <section>
                        <h1 class="tamañoMujer">OFERTAS EN INDUMENTARIA MUJER!!!</h1>
                        <p class="a">encontra las mejores ofertas desde un 5% hasta un 15% OFF!!</p>
                        <div class="productos">
                                <article class="caja-articulo">
                                    <img src="/images/products/mujerpaddle1.jpg">
                                        <div class="contenedor-articulo">
                                                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                <p class="precio">$5.400</p>
                                                <p class="descuento">15% OFF</p>
                                                <p class="marca">Remera Deportiva Doof Sport Blue and Black</p>
                                </article>
                                <article class="caja-articulo">
                                    <img src="/images/products/mujerpaddle2.jpg">
                                        <div class="contenedor-articulo">
                                                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                <p class="precio">$6.999</p>
                                                <p class="descuento">5% OFF</p>
                                                <p class="marca">Chomba Deportiva Vairo Pink and Black</p>
                                </article>
                                <article class="caja-articulo">
                                    <img src="/images/products/mujerpaddle3.jpg">
                                        <div class="contenedor-articulo">
                                                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                <p class="precio">$7.680</p>
                                                <p class="descuento">$15% OFF</p>
                                                <p class="marca">Musculosa Deportiva Vairo Pink</p>
                                </article>
                                
                                </article>



                                <section>
                                    
                                    <div class="productos">
                                            <article class="caja-articulo">
                                                <img src="/images/products/shortmujer.jpg">
                                                    <div class="contenedor-articulo">
                                                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                            <p class="precio">$6.770</p>
                                                            <p class="descuento">10% OFF</p>
                                                            <p class="marca">Remera Deportiva Doof Sport Blue and Black</p>
                                            </article>
                                            <article class="caja-articulo">
                                                <img src="/images/products/falda.jpg">
                                                    <div class="contenedor-articulo">
                                                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                            <p class="precio">$7.999</p>
                                                            <p class="descuento">7% OFF</p>
                                                            <p class="marca">Falda Deportiva Bullpadel Yapa Blue</p>
                                            </article>
                                            <article class="caja-articulo">
                                                <img src="/images/products/calza.jpg">
                                                    <div class="contenedor-articulo">
                                                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                            <p class="precio">$9.199</p>
                                                            <p class="descuento">$5% OFF</p>
                                                            <p class="marca">Calza Deportiva Adidas Pink</p>
                                            </article>
                                            
                                            </article>
                        </div>
                </section>
        </main>
        <footer>
<!--COMIENZO DEL FOOTER-->
<%- include("partials/footer") %>
<!--FIN DEL FOOTER-->

        </footer>
          
        </body>