<!DOCTYPE html>
    <html>
        <head>
                <meta charset="UTF-8">
                <meta http-equiv="X - UA - Compatible" contect="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="css/users/paletas.css">
                <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
                <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
                rel="stylesheet" />
                <link rel="stylesheet" href="/css/paletas.css">
                <title>Paletas</title>
        </head>
<header>
  <!--INICIO DLE HEADER-->
  <%- include("partials/header") %>
  <!--FIN DEL HEADER-->

</header>
        <body>
            <div class="banner_img">
                <img src="images/paletas.pelotas.gif" alt="imagenPaddle">
            </div>

            <main>
                <p class="tamaño">Paletas de Paddle</p>
                
                <section>
                        
                        <div class="productos">
                                <article class="caja-articulo">
                                    <img src="/images/products/wilson-paleta-de-frente.png">
                                        <div class="contenedor-articulo">
                                                <i class="fas fa-truck"></i>
                                                <p class="precio">$6.770</p>
                                                <p class="descuento">5% OFF</p>
                                                <p class="marca">Remera "R" Paddle Green and Black</p>
                                </article>
                                <article class="caja-articulo">
                                    <img src="/images/products/paletas.jpg">
                                        <div class="contenedor-articulo">
                                                <i class="fas fa-truck"></i>
                                                <p class="precio">$5.800</p>
                                                <p class="descuento">10% OFF</p>
                                                <p class="marca">Remera "R" Paddle White and Black</p>
                                </article>
                                <article class="caja-articulo">
                                    <img src="/images/products/paletas2.jpg">
                                        <div class="contenedor-articulo">
                                                <i class="fas fa-truck"></i>
                                                <p class="precio">$7.200</p>
                                                <p class="descuento">5% OFF</p>
                                                <p class="marca">Remera Babolar Paddle Orange and Blue</p>

                                            </article>
                               
                                </article>


                        <div class="productos">
                                <article class="caja-articulo2">
                                    <img src="/images/products/paletas5.jpg">
                                        <div class="contenedor-articulo2">
                                                <i class="fas fa-truck"></i>
                                                <p class="precio">$6.770</p>
                                                <p class="descuento">5% OFF</p>
                                                <p class="marca">Remera "R" Paddle Green and Black</p>
                                </article>
                                <article class="caja-articulo2">
                                    <img src="/images/products/paletas3.jpg">
                                        <div class="contenedor-articulo2">
                                                <i class="fas fa-truck"></i>
                                                <p class="precio">$5.800</p>
                                                <p class="descuento">10% OFF</p>
                                                <p class="marca">Remera "R" Paddle White and Black</p>
                                </article>
                                <article class="caja-articulo2">
                                    <img src="/images/products/paletas6.jpg">
                                        <div class="contenedor-articulo2">
                                                <i class="fas fa-truck"></i>
                                                <p class="precio">$7.200</p>
                                                <p class="descuento">5% OFF</p>
                                                <p class="marca">Remera Babolar Paddle Orange and Blue</p>

                                            </article>
                               
                                </article>
                </section>
            

        </body>


<footer>
    <!--COMIENZO DEL FOOTER-->
    <%- include("partials/footer") %>
    <!--FIN DEL FOOTER-->
</footer>