<!DOCTYPE html>
    <html>
        <head>
                <meta charset="UTF-8">
                <meta http-equiv="X - UA - Compatible" contect="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="css/users/register.css">
                <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
                <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
                rel="stylesheet" />
                <link rel="stylesheet" href="/css/productos.css">
                <title>Productos</title>
        </head>
<header>
  
            <!--INICIO DLE HEADER-->
            <%- include("partials/header") %>
            <!--FIN DEL HEADER-->
</header>
<body>
    <div class="banner_img">
        <img src="images/productos.gif" alt="imagenPaddle">
    </div>
<div class="indumentaria">
    <p> <a class="indumentaria" href="/indumentaria">INDUMENTARIA</p></a>
    </div>
    <div class="carta-qr">
    <img src="images/indumentaria-qr.jpg" alt="imagenPaddle" width="85%">
</div>
<div class="paletas">
    <p> <a class="paletas" href="/paletas">PALETAS</p></a>
</div>
<div class="carta-qr">
    <img src="images/paletas-qr.jpg" alt="imagenPaddle" width="85%">
</div>
<div class="ofertas">
    <p> <a class="ofertas" href="/ofertas">OFERTAS</p></a>
</div>
    <div class="carta-qr">
    <img src="images/ofertas-qr.jpg" alt="imagenPaddle" width="85%">
</div>
    
</body>
<footer>
    <!--COMIENZO DEL FOOTER-->
  <%- include("partials/footer") %>
  <!--FIN DEL FOOTER-->
</footer>