<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X - UA - Compatible" contect="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="css/products.css">
            <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
            <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
<body>
    <!--INICIO DEL HEADER-->
    <%- include("partials/header") %>
    <!--FIN DEL HEADER-->
    <H2 class="titulo">Todos los productos</H2>
    <div class="banner_img">
        <img src="images/RED.gif" alt="imagenPaddle" width="200">
    </div>
    <% for (let i=0 ; i < productos.length ; i++) { %>
            <div class= "contenedor-products">
                <a href="/products/<%=productos[i].id%>">
                    <p class="nombre-paleta">NOMBRE: <%= productos[i].titulo %></p>
                </a>
            </div>
    <% } %>

        <!--COMIENZO DEL FOOTER-->
        <%- include("partials/footer") %>
        <!--FIN DEL FOOTER-->