<!DOCTYPE html>
    <html>
        <head>
          <meta charset="UTF-8">
          <meta http-equiv="X - UA - Compatible" contect="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="css/productCart.css">
          <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
          <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
          <title>Carrito</title>
        </head>
            <body>
                <!--COMIENZO DEL CARRITO-->
                  <header>
                    <div class="encabezado">
                    <p class="encabezado1"><i class="fas fa-align-justify"></i></p>
                    <p class="encabezado2">RED</p> 
                    <p class="encabezado3"><i class="fas fa-cart-plus"></i></p>
                    </div>
                  </header>
                      <main>
                        <!--<img src="images/img-home-banner.jpg" width="360" alt="Banner de ofertas">-->
                        <section>
                          <h1 class="titulo1">CARRITO DE COMPRAS</h1>
                          <div class="productos">
                            <article>
                              <div class="todo">
                                <img class="imagen" src=images/cancha.jpg>
                                <div class="marca">Cancha 2 / Turno 18:00 - 20:00hrs</div>
                                <div class="basurero"><i class="fas fa-trash"></i>
                                <div class="precio">$1.800
                              </div>
                            </article>
                            
                            <article>
                              <div class="todo2">
                                <img class="imagen" src=images/remera.jpg>
                                <div class="marcab">Remera verde/fluor paddle</div>
                                <div class="basurerob"><i class="fas fa-trash"></i></div>
                                <div class="cantidadesb">
                                <label for="numero" >Cantidad:</label>
                                <input type="number" name="numero"  min="1" max="15" />
                              </div>
                                <div class="preciob">$3.000</div>
                              </div>
                            </article>
                          </article>
                          <div class="todo3">
                            <img class="imagen" src=images/wilson-paleta-costado.jpg>
                            <div class="marcac">Paleta de paddle Wilson</div>
                            <div class="basureroc"><i class="fas fa-trash"></i></div>
                            <div class="cantidadesc">
                              <label for="numero" >Cantidad:</label>
                              <input type="number" name="numero"  min="1" max="15" />
                            </div>
                            <div class="precioc">$12.000</div>
                          </div>
                        </article> 

                        <div class="compratotal">
                          <p class="precio-total">TOTAL A PAGAR: $16.800</p>
                          <p class="ver">Ver mas productos</p>
                          <label for="compra"></label>
                          <button type="submit" value="compra" class="boton-comprar"><i class="fas fa-shopping-basket"></i> Iniciar compra</button>
                        </div>
                        <!--COMIENZO DEL FOOTER-->
                        <%- include("partials/footer") %>
                        <!--FIN DEL FOOTER-->
                </body>
    </html>
