<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Sector Gastronomico</title>
    <meta http-equiv="X - UA - Compatible" contect="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/sectorGastronomico.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
   

</head>
<header>
    <%- include("partials/header") %>
</header>
<body>
    <div class="banner_img">
        <img src="images/sectorgastronomico.gif" alt="imagenPaddle">
    </div>
    
    <div class="carta">
        <h1>Te presentamos nuestro menu!</h1>
    </div>
    <div class="carta-qr">
        <img src="images/imagen-qr.jpg" alt="imagenPaddle" width="95%">
    </div>
<footer>
    <!--COMIENZO DEL FOOTER-->
    <%- include("partials/footer") %>
    <!--FIN DEL FOOTER-->
</footer>

</body>