<!DOCTYPE html>
    <html>
        <head>
                <meta charset="UTF-8">
                <meta http-equiv="X - UA - Compatible" contect="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="css/users/register.css">
                <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
                <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
                rel="stylesheet" />
                <link rel="stylesheet" href="/css/indumentaria.css">
                <title>"Indumentaria"</title>
        </head>
        <body>
            <h1> Hola nuestra disponibilidad de turnos es la siguente:</h1>

        </body>