<!DOCTYPE html>
    <html>
        <head>
                <meta charset="UTF-8">
                <meta http-equiv="X - UA - Compatible" contect="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="css/users/register.css">
                <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
                <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
                rel="stylesheet" />
                <link rel="stylesheet" href="/css/indumentaria.css">
                <title>Turnos Canchas</title>
        </head>
<header>
  
            <!--INICIO DLE HEADER-->
            <%- include("partials/header") %>
            <!--FIN DEL HEADER-->
</header>
        <body>
            <div class="banner_img">
                <img src="images/INDUMENTARIA (5).gif" alt="imagenPaddle">
            </div>
            <main>
                <h1 class="tamaño">Reserva Tu Turno En Nuestras Canchas</h1>
                
                <section>
                        
                        <div class="productos">
                                <article class="caja-articulo">
                                    <img src="/images/products/cancha.jpg">
                                        <div class="contenedor-articulo">
                                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                <p class="precio">$2400</p>
                                                <p class="descuento">Disponible Ahora!</p>                                                
                                                <p class="marca">Turnos Disponibles 20 a 02hrs</p>
                                                <p class="marca">Cancha 1 De Padel Césped Sintético Azul Premium</p>
                                </article>
                                <article class="caja-articulo">
                                    <img src="/images/products/cancha.jpg">
                                        <div class="contenedor-articulo">
                                                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                <p class="precio">$2400</p>
                                                <p class="descuento">Disponible Ahora!</p>
                                                <p class="marca">Turnos Disponibles 19 a 23hrs</p>
                                                <p class="marca">Cancha 2 De Padel Césped Sintético Azul Premium</p>
                                </article>
                                <article class="caja-articulo">
                                    <img src="/images/products/cancha.jpg">
                                        <div class="contenedor-articulo">
                                                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                                <p class="precio">$2400</p>
                                                <p class="descuento">Disponible Ahora!</p>                                                
                                                <p class="marca">Turnos Disponibles 16 a 22hrs</p>
                                                <p class="marca">Cancha 3 De Padel Césped Sintético Azul Premium</p>
                                            </article>
                               
                                </article>