*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
body{
    background-color: #17011f;
    font-family: 'Lato', sans-serif;
}
.titulo{
        text-align: center;
        text-decoration: underline;
}
.banner_img img{
        width: 20%;
        position: relative;
        left:40%;
}
.titulo{
    text-align: center;
    text-decoration: underline;
}
.formul-form{
    padding: 5px;
    margin-top: 20px;
    border: 4px solid black;
    background-color: #ebebeb;
    border-radius: 5px;
    display: flex;
    text-align: center;
    margin: 5% 5% 5% 5%;
    flex-direction: column;
    border: none;
    outline:none;
    background: none;
    font-size: 15px;
}
.formul-form{
    margin-bottom: 20px;
    border-radius: 15px;
    width: 40%;
    position: relative;
    left: 25%;
}
.formul-form{
    margin-bottom: 20px;
}
.formul-form label{
    display: flex;
    border-radius:15px;
}
.formul-form input{
    display: flex;
    width: 100%;
    border:none;
    outline:none;
    background: none;
    border-bottom: 2px solid #e71645;
}
.style{
    color: white;
    background-color: black;
}
.formulario{
    margin-bottom: 20px; 
}
.formulario:hover{
    box-shadow: 0px 0px 10px #e71645;
    transition: box-shadow , 0.2s;
}
.guardar{
    width: 60%;
    background: none;
    border: 2px solid #e71645;
    color: #e71645;
    padding: 10px;
    font-size: 14px;
    margin: 12px 0;
    color: rgb(255, 255, 255);
    border-radius: 5px;  
}
.guardar:hover{
    box-shadow: 0px 0px 10px #e71645;
    transition: box-shadow , 0.2s;
}
.descripcion-label {
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
}
.descripcion-input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    border: solid 1px var(--gray);
    padding: 0 15px;
}
  
textarea.descripcion-input {
    min-height: 140px;
    resize: vertical;
    padding: 15px;
}
    .footer {
        padding: 30px 0;
        background-color: #092327;
        width: 100%;
        margin-top: 20px;
    }
    .footer .social {
        text-align: center;
        padding-bottom: 25px;
        color: #4b4c4d;
    }
    
    .footer .social a {
        font-size: 24px;
        color: inherit;
        border: 1px solid #ccc;
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.75;
    }
    
    .footer .social a:hover {
        opacity: 0.9;
    }
    
    .footer ul {
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size: 28px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
        
    }
    
    .list {
        color: #e71645;
    }
    
    .footer ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }
    
    .footer ul li {
        display: inline-block;
        padding: 0 15px;
    }
    
    .footer ul li a:hover {
        opacity: 1;
    }
    
    .footer .copy {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
    }
    
    
    /* FIN FOOTER */
    
