body{
    margin: auto;
    padding: 0px;
    background-color: #170420;
    font-family: 'Lato', sans-serif;
}

/*inicio del header*/
header{
    background-color: #092327
}
.iconos-titulo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-menu{
    color: #e71645;
    padding-left: 5%;
    font-size: 35px;
}
.carrito{
    color: #e71645;
    font-size: 35px;
    padding-right: 5%;
}

/*fin del header*/


.logo-gif{
    display: flex;
    justify-content: center;
}
.raqueta-grande{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: black 1px solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.raquetas-pequeñas{
    display: flex;
    justify-content: center;
}
.raqueta-pequeña-de-frente{
    border: black 1px solid;
    border-top: none;
    border-right: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.raqueta-pequeña-de-abajo{
    border: black 1px solid;
    border-top: none;
    border-right: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.raqueta-pequeña-de-costado{
    border: black 1px solid;
    border-top: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
h6{
    font-size: 15px;
    color: #e71645;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
h5{
    font-size: 35px;
    color: #e71645;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}
h4{
    font-size: 20px;
    color: #e71645;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}
.whatsapp{
    color: green;
    position: fixed;
    left: 85vw;
    top: 85vh;
    font-size: 50px;
    transition-property: font-size;
    transition-duration: 0.2s;
}
.whatsapp:hover{
    font-size: 65px;
}
p{
    color: #e71645;
    margin: auto;
}
.boton{
    display: flex;
    justify-content: center;
}
button {
    padding: 0.5em 1em;
    font-size: 15px;
    margin-top: 20px;
    background-color: #170420;
    color: #e71645;
    border: 3px solid #e71645;
    transition-property: border;
    transition-duration: 0.4s;
}
button:hover{
    border: 3px solid white
}
.cuadro-descripcion{
    border: black 1px solid;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px
}
.cuadro-testimonio{
    border: black 1px solid;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 70px
}
.linea{
    border-top: blanchedalmond 1px solid;
    margin-top: 35px;
    margin-right: 15px;
    margin-left: 15px;
    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.estrellas{
    color: yellow;
}

/* INICIO FOOTER */

.footer {
    padding: 30px 0;
    background-color: #092327;
    width: 100%;
    margin-top: 20px;
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 28px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    
}

.list {
    color: #e71645;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copy {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}


/* FIN FOOTER */

/* inicio del header*/
header{
    background-color: black; 
}
.iconos-titulo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-menu{
    color: #e71645;
    padding-left: 5%;
    font-size: 35px;
}
.carrito{
    color: #e71645;
    font-size: 35px;
    padding-right: 5%;
}

/*fin del header*/

@media (min-width: 1269px){
    body{    
    background-image: url(public/images/red_1.png);
}
}