* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #17011f;
}

.bienvenido {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.registros {
    border-radius: 15px;
    width: 40%;
    position: relative;
    left: 30%;
    color: white;
    margin-top: 50px;
    padding: 20px;
}

.registros:hover {
    box-shadow: 0px 0px 10px #e71645;
    transition: box-shadow, 0.2s;
}

.registros label {
    display: flex;
    border-radius: 15px;
    font-size: 24px;
    text-align: center;
}

.registros input {
    display: flex;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #e71645;
}

.style {
    color: white;
    background-color: black;
    margin-top: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    margin: auto;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #e71645;
}

.logoMenu {
    font-size: 40px;
    color: #e71645;
    text-align: center;
    visibility: hidden;
    align-items: center;
}

.footer {
    padding: 30px 0;
    background-color: #092327;
    position: relative;
    top: 100px;
    left: 20px;
    width: 100%;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 28px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.list {
    color: #e71645;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copy {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

.boton-enviar {
    width: 30%;
    background: none;
    border: 2px solid #e71645;
    color: #e71645;
    padding: 10px;
    font-size: 16px;
    margin: 12px 0;
    position: relative;
    left: 35%;
    opacity: 0.5;
    font-size: large;
}

.boton-enviar:hover{
    opacity: 1;
    -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}