body{
    margin: auto;
    padding: 0px;
    background-color: #170420;
    font-family: 'Lato', sans-serif;
}
.contenedor-red{
    display: flex;
    justify-content: center;
}
h1{
    color: #e71645;
}
.form {
    padding-top: 8px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form input {
    width: 90%;
    text-align: center;
    height: 30px;
    margin: 0.5rem;
    border: 2px solid #170420;
    border-radius: 24px;
}
.form button {
    margin: 10px;
    font-size: 30px;
    background-color:#170420;
    color: #e71645;
    border: 3px solid #e71645;
    transition-property: border;
    transition-duration: 0.4s;
}
.form button:hover{
    border: 3px solid white
}
a{
    display:flex;
    justify-content: center;
    color: #e71645
}
.olvidaste{
    margin: 15px;
}

/*detalle del producto*/
.logo-gif{
    display: flex;
    justify-content: center;
}
.raqueta-grande{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: black 1px solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.raquetas-pequeñas{
    display: flex;
    justify-content: center;
}
.raqueta-pequeña-de-frente{
    border: black 1px solid;
    border-top: none;
    border-right: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.raqueta-pequeña-de-abajo{
    border: black 1px solid;
    border-top: none;
    border-right: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.raqueta-pequeña-de-costado{
    border: black 1px solid;
    border-top: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
h6{
    font-size: 15px;
    color: #e71645;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
h5{
    font-size: 35px;
    color: #e71645;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}
h4{
    font-size: 20px;
    color: #e71645;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}
.whatsapp{
    color: green;
    position: fixed;
    left: 85vw;
    top: 85vh;
    font-size: 50px;
    transition-property: font-size;
    transition-duration: 0.2s;
}
.whatsapp:hover{
    font-size: 65px;
}
p{
    color: #e71645;
    margin: auto;
}
.boton{
    display: flex;
    justify-content: center;
}
button {
    padding: 0.5em 1em;
    font-size: 15px;
    margin-top: 20px;
    background-color: #170420;
    color: #e71645;
    border: 3px solid #e71645;
    transition-property: border;
    transition-duration: 0.4s;
}
button:hover{
    border: 3px solid white
}
.cuadro-descripcion{
    border: black 1px solid;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px
}
.cuadro-testimonio{
    border: black 1px solid;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 70px
}
.linea{
    border-top: blanchedalmond 1px solid;
    margin-top: 35px;
    margin-right: 15px;
    margin-left: 15px;
    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.estrellas{
    color: yellow;
}

/*inicio del header*/
header{
    background-color: black; 
}
.iconos-titulo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-menu{
    color: #e71645;
    padding-left: 5%;
    font-size: 35px;
}
.carrito{
    color: #e71645;
    font-size: 35px;
    padding-right: 5%;
}

/*fin del header*/

/*inicio del footer*/
footer{
    background: black;
}
.footer-entero{
    display: flex;
    justify-content: space-between;
}
.iconos-footer{
    font-size: 25px;
    width: 30%;
    margin-right: 20px;
    color:#e71645;
    display: flex;
    justify-content: space-around;
}
.facebook{
    transition-property: font-size;
    transition-duration: 0.2s;
}
.facebook:hover{
    font-size: 35px
}
.instagram{
    transition-property: font-size;
    transition-duration: 0.2s;
}
.instagram:hover{
    font-size: 35px
}
.twitter{
    transition-property: font-size;
    transition-duration: 0.2s;
}
.twitter:hover{
    font-size: 35px
}

@media (min-width: 1269px){
    body{    
    background-image: url(public/images/red_1.png);
}
}