<!DOCTYPE html>
    <html>
		<head>
			<meta charset="UTF-8">
			<meta http-equiv="X - UA - Compatible" contect="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="css/users/profile.css">

			<link rel="stylesheet" href="/css/profile.css">
			<link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
			<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
			rel="stylesheet" />
		   
	</head>
		
<body>
	<!-- Container -->
	
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="nombre-user">
				<h2>Bienvenido nuevo <%= users.full_name %> </h2> </div>
				<img src="/images/avatars/<%= users.image %> ">
				
				<div class="alert alert-success"><%= users.email %> </div>
			</div>
		</div>
	</div>
	<!-- //Container -->
	
	
	
</body>
</html>